/* Base Application Styles */
// @import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
// @import 'reset';
@import 'variables';


body{
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Cutive Mono';
  // color: #444;
  // margin:0;
  // padding:0;
  // line-height: 1.5rem;
}


*{
  box-sizing: border-box;
}

h1,h2{
  text-transform: uppercase;
  font-weight: 700;
  // font-size: 24pt;
  // margin: 20px;
}

// h3{
//   font-size: 16pt;
// }
//
// h4{
//   font-size: 12pt;
// }
//
// h3,h4,h5{
//   font-weight: 600;
//   margin: 20px 0;
// }

ul,li{
  list-style-type: none;
  padding:0;
  margin:0;
}

.text-white{
  color: white;
}

.container-absolute{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
}

.background-holder{
  background-size: cover;
  background-position: center center;
}

.view{
  @extend .container-absolute;
  &.has-menu{
    top: $main-menu-bar-height;
  }
}

.view-background{
  @extend .container-absolute;
  @extend .background-holder;

  z-index: -1;

  transition: 0.4s;
  opacity: 0;

  &.loading{
    opacity: 0;
  }

  &.ready{
    opacity: 1;
  }
}

.view-content{
  position: relative;
}


.layout-center{
  display:flex;
  align-items: center;
  justify-content: center;
}

.scroll-y{
  overflow-y: auto;
}

.view-appear, .menu-item-appear{
  opacity: 0;
}

.view-appear.view-appear-active, .menu-item-appear.menu-item-appear-active{
  opacity: 1;
  transition: opacity .5s ease-in;
}

.animate{
  transition: 0.3s;
  transition: opacity .5s ease-in;
}

.image-loading{
  opacity: 0;
}

.image-ready{
  opacity: 1;
}


.image-container{

  img{
    opacity: 0;
    transition: 0.3s;
  }

  &.image-ready{

    img{
      opacity: 1;
    }
  }
}

@import 'navigation/main-menu';
@import 'people/people';
@import 'slider/slider';
@import 'content/page';
@import 'content/section';
@import 'content/footer';
