$menu-text-color: rgb(235, 235, 235);
$menu-item-border-color: rgba(233, 233, 233, 0.19);
$menu-items-max-count: 20;
$main-menu-background: rgb(34, 34, 34);
$main-menu-bar-height: 50px;

$main-menu-item-height: 50px;
$main-menu-item-background: $main-menu-background;
$main-menu-subitem-background: rgb(19, 19, 19);
